<div>
	<md-toolbar color="primary">
		<span><button md-icon-button (click)="sidenav.toggle()"><md-icon>menu</md-icon></button></span>

		<span><b>{{title}}</b></span>

		<button md-icon-button [md-menu-trigger-for]="menu">
			<md-icon>more_vert</md-icon>
		</button>
	</md-toolbar>
	<md-divider></md-divider>
	<md-sidenav-container>
		<md-sidenav #sidenav mode="side" opened="true">
			<md-list>
				<h3 md-subheader>Folders</h3>
				<md-list-item *ngFor="let navigation of navigations">
					<md-icon md-list-icon>{{navigation.icon}}</md-icon>
					<h4 md-line>{{navigation.name}}</h4>
				</md-list-item>
			</md-list>
		</md-sidenav>
		
		<div class="example-scrolling-content">
			<md-menu x-position="before" #menu="mdMenu">
				<button md-menu-item>Option 1</button>
				<button md-menu-item>Option 2</button>
			</md-menu>

			<div class="content_container">
				<h1> {{author}} </h1>
				<h4> {{major}} </h4>
				<p class="contact_text"> /** <br/>&nbsp;&nbsp;* {{location}} <br/>&nbsp;&nbsp;* {{phone}} <br/>&nbsp;&nbsp;* {{email}} <br/> &nbsp;&nbsp;*/
					<p> {{about}} </p>
					<h2># Working Experiences</h2>
					<md-list>
						<md-list-item *ngFor="let working of workingExperiences">
							<img md-list-avatar src={{working.company.logo}} alt="...">
							<h3 md-line> {{working.company.name}} </h3>
							<p md-line>
								<span> {{working.company.location}} </span>
								<span> -- {{working.time}} </span>
							</p>							
							<p md-line>
								{{working.description}}
							</p>
						</md-list-item>
					</md-list>

					<h2># Social Activities </h2>
					<md-grid-list cols="4" rowHeight="300px">
						<md-grid-tile *ngFor="let tile of tiles">
							<md-card class="social_activity_card">
								<md-card-header>
									<div md-card-avatar>
										<img src="{{tile.icon}}" class="social_activity_icon">
									</div>
									<md-card-title class="social_activity_text_title">{{tile.text}}</md-card-title>
									<md-card-subtitle class="social_activity_text_sub_title">joined in {{tile.time}}</md-card-subtitle>
								</md-card-header>
								<img md-card-image class="social_activity_image" src="{{tile.image}}">

								<md-card-content class="social_activity_content">
									<p>
										{{tile.content}}
									</p>
								</md-card-content>

							</md-card>
						</md-grid-tile>
					</md-grid-list>

					<!-- SKILLS AREA -->
					<h2># Professsional Skills</h2>
					<h4> 1. Top Skills </h4>
					<md-grid-list cols="3" rowHeight="300px">
						<md-grid-tile *ngFor="let skill of top_skills">
							<md-card >
								<md-card-title>{{skill.title}}</md-card-title>
								<md-card-subtitle>{{skill.experience}}</md-card-subtitle>
								<md-card-content class="social_activity_content">
									<p>
										{{skill.description}}
									</p>
								</md-card-content>

							</md-card>
						</md-grid-tile>
					</md-grid-list>
					<h4> 2. Other Skills </h4>
					<md-chip-list>
						<md-chip *ngFor="let skill of other_skills"
						selected="true">
						{{skill.title}}
					</md-chip>
				</md-chip-list>

				<!-- EDUCATION AREA -->
				<h2># Education</h2>
				<md-grid-list cols="2" rowHeight="200px">
					<md-grid-tile *ngFor="let education of educations">
						<md-card class="my_card">
							<md-card-title>{{education.school}}</md-card-title>
							<md-card-subtitle class="">{{education.time}}</md-card-subtitle>
							<md-card-content>
								<p>{{education.accomplished}}</p>
							</md-card-content>
						</md-card>
					</md-grid-tile>
				</md-grid-list>

				<h2># Volunteerism</h2>
				<md-list>
					<md-list-item *ngFor="let volunteerisms of volunteerisms">
						<h3 md-line>{{volunteerisms.place}}</h3>
						<p md-line> {{volunteerisms.time}}</p>
						<p md-line> {{volunteerisms.details}}</p>
					</md-list-item>
				</md-list>

				<h2># Around the web</h2>
				<ul *ngFor="let web of aroundTheWebs">
					<li> <a href="{{web.link}}">{{web.title}}</a> </li>
				</ul>	

				<h2># Hobbies </h2>
				<md-chip-list>
					<md-chip *ngFor="let hobby of hobbies"
					selected="true">
					{{hobby.title}}
				</md-chip>
			</md-chip-list>
		</div>	

		<span class="done">
			<button md-fab>
				<md-icon>check circle</md-icon>
			</button>
		</span>
	</div>
</md-sidenav-container>
<footer>
	<p>Handmade by me 2017</p>
</footer>
</div>