<div>
	<md-toolbar color="primary">
		<span><button (click)="sidenav.toggle()"><img src="assets/img/menu/ic_menu.png" id="menu_icon"></button></span>

		<span><b>{{title}}</b></span>

		<span></span>
	</md-toolbar>

	<md-sidenav-container>
		<md-sidenav #sidenav mode="side" opened="true">
			<md-list class="navigation">
				<md-list-item *ngFor="let navigation of navigations">

					<img md-list-icon src="assets/img/menu/{{navigation.icon}}" id="navigation_icon" >

					<a md-line href="{{navigation.link}}">{{navigation.name}}</a>
				</md-list-item>
			</md-list>
		</md-sidenav>
		
		<div class="example-scrolling-content">
			<div class="container">
				<div class="content_container">
					<h1 id="about"> {{author}} </h1>
					<h4> {{major}} </h4>
					<p class="contact_text"> /**  <br/>&nbsp;&nbsp;* {{languages}}  <br/>&nbsp;&nbsp;* {{dateOfBirth}} <br/>&nbsp;&nbsp;* {{phone}} <br/>&nbsp;&nbsp;* {{email}} <br/> &nbsp;&nbsp;* {{location}} <br/> &nbsp;&nbsp;*/
						<p> {{about}} </p>

						<h2 id="careerHighlights"># Career Highlights</h2>	
						<ul *ngFor="let careerHighlight of careerHighlights">
							<li> <p>{{careerHighlight.title}} </p></li>
						</ul>

						<h2 id="workingExperiences"># Working Experiences</h2>

						<md-list>
							<md-list-item class="card" *ngFor="let working of workingExperiences">
								<img md-list-icon src={{working.company.logo}} class="icon" alt="...">
								<a md-line href="{{working.company.link}}"><p class="title"> {{working.company.name}} </p></a>
								<p md-line class="sub_title">{{working.position}}</p>
								<p md-line class="sub_title">
									<span> {{working.company.location}} </span>
									<span> -- {{working.time}} </span>
								</p>
								<p md-line class="details" id="mutilple_lines">
									<span class="line-breaker">
										{{working.description}}
									</span>
								</p>
								<p md-line>
								</p>
							</md-list-item>
						</md-list>	

						<h2 id="socialActivities"># Social Activities </h2>
						<md-grid-list cols="4" rowHeight="300px">
							<md-grid-tile *ngFor="let tile of tiles" >
								<a href="{{tile.link}}">
								<md-card class="card" style="height: 200px">
									<md-card-header>
										<div md-card-avatar>
											<img src="{{tile.icon}}" class="icon">
										</div>
										<md-card-title class="title">{{tile.text}}</md-card-title>
										<md-card-subtitle class="sub_title">joined in {{tile.time}}</md-card-subtitle>
									</md-card-header>
									<img md-card-image class="social_activity_image" src="{{tile.image}}">
									<md-card-content class="details">
										<p>
											{{tile.content}}
										</p>
									</md-card-content>
								</md-card>
								</a>
							</md-grid-tile>
						</md-grid-list>

						<!-- SKILLS AREA -->
						<h2 id="skills"># Professsional Skills</h2>
						<h4> 1. Top Skills </h4>
						<md-grid-list cols="3" rowHeight="300px">
							<md-grid-tile *ngFor="let skill of top_skills">
								<md-card class="card" style="height: 200px">
									<md-card-title class="title">{{skill.title}}</md-card-title>
									<md-card-subtitle class="sub_title">{{skill.experience}}</md-card-subtitle>
									<md-card-content class="details">
										<span class="line-breaker">
											{{skill.description}}
										</span>
									</md-card-content>
								</md-card>
							</md-grid-tile>
						</md-grid-list>
						<h4  > 2. Languages </h4>
						<md-chip-list>
							<md-chip *ngFor="let skill of other_skills" selected="true" mdTooltip={{skill.description}} mdTooltipPosition ="above">
								{{skill.title}}
							</md-chip>
						</md-chip-list>

						<h4> 3. Framework/Platform </h4>
						<md-chip-list>
							<md-chip *ngFor="let framework of frameworks" selected="true">
								{{framework.title}}
							</md-chip>
						</md-chip-list>

						<h4> 4.Tools </h4>
						<md-chip-list>
							<md-chip *ngFor="let tool of tools" selected="true">
								{{tool.title}}
							</md-chip>
						</md-chip-list>

						<h2 id="projects"># Projects</h2>
						<h4> 1. Company Projects </h4>
						<md-grid-list cols="5" rowHeight="200px">
							<md-grid-tile *ngFor="let project of projects">
								<md-card class="card" style="height: 100px">
									<md-card-header>
										<div md-card-avatar>
											<img src="{{project.icon}}" class="icon">
										</div>
										<md-card-title ><a href="{{project.link}}" class="title">{{project.name}}</a></md-card-title>
										<md-card-subtitle class="sub_title">{{project.responsible}} {{project.type}} at {{project.company}}</md-card-subtitle>
									</md-card-header>
									<md-card-content class="details">
										
									</md-card-content>
								</md-card>
							</md-grid-tile>
						</md-grid-list>
						<h4> 2. Personal Project </h4>
						<p><em>Not successful projects because it suspended from Play Store but it is still a lot of my efforts</em></p>
						<md-list>
							<md-list-item *ngFor="let personalProject of personalProjects" class="card">
								<a md-line href="{{personalProject.link}}" class="title">{{personalProject.title}}</a>
								<a md-line href="{{personalProject.link}}">{{personalProject.link}}</a>
							</md-list-item>
						</md-list>

						<!-- EDUCATION AREA -->
						<h2 id="educations"># Education</h2>
						<md-grid-list cols="2" rowHeight="200px">
							<md-grid-tile *ngFor="let education of educations">
								<md-card class="card">
									<md-card-title><a href="{{education.link}}" class="title">{{education.school}}</a></md-card-title>
									<md-card-subtitle class="">{{education.time}}</md-card-subtitle>
									<md-card-content>
										<p>{{education.accomplished}}</p>
									</md-card-content>
								</md-card>
							</md-grid-tile>
						</md-grid-list>

						<h2 id="volunteerism"># Volunteerism</h2>
						<md-list>
							<md-list-item *ngFor="let volunteerisms of volunteerisms" class="card">
								<h3 md-line><a class="title" href="{{volunteerisms.link}}">{{volunteerisms.place}}</a></h3>
								<p md-line class="sub_title"> {{volunteerisms.time}}</p>
								<p md-line> {{volunteerisms.details}}</p>
							</md-list-item>
						</md-list>

						<h2 id="hobbies"># Hobbies </h2>
						<md-chip-list>
							<md-chip *ngFor="let hobby of hobbies"
							selected="true">
							{{hobby.title}}
						</md-chip>
					</md-chip-list>
				</div>	

				<footer>
					<div>
						<p>Handmade by me 2017</p>

						<ul *ngFor="let web of aroundTheWebs">
							<li> <a href="{{web.link}}">{{web.title}}</a> </li>
						</ul>	
					</div>
				</footer>
			<!-- <span class="done">
				<button md-fab (click)="mailTo()">
					<md-icon>mail outline</md-icon>
				</button>
			</span> -->
		</div>
	</div>
</md-sidenav-container>

<a href="https://github.com/PhanVanLinh/MyPortfolio"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
</div>
