/* You can add global styles to this file, and also import other style files */
/*@import '~https://fonts.googleapis.com/icon?family=Material+Icons';*/
/*@import '~https://fonts.googleapis.com/icon?family=Roboto';*/

@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/Open_Sans/OpenSans-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Open Sans', Roboto, sans-serif;
  background-image: url("assets/img/general/bg.jpg");
  color: #ffffff;
  font-size: 16px;
}

p{
  margin: 0px;
}

ul{
  margin:0px;
  padding: 4px;
  list-style-type: none;
}

a{
  color: #ffffff;
  text-decoration: none;
}

h1{
  font-weight: 600 !important;
}

h2{
   color: #dffa96;
}

md-toolbar{
  background: rgba(0,0,0,0.2) !important;
}

md-divider{
  background-color: #5cffd9;
}

md-sidenav{
   background: rgba(0,0,0,0.1) !important;
}

md-sidenav-container{
  background: rgba(0,0,0,0) !important;
}

md-card {
  max-width: 80%;
  margin: 2em auto;
  background-color : transparent !important; 
}


md-card-title{
  color: #7698de;
}

md-tooltip{
  background-color: #ff0;
}

md-toolbar-row {
  justify-content: space-between;
}


md-chip{
  background: rgb(221, 221, 221);
  color: #000;
  border-radius: 4px !important;
}

.container{
  max-width: 100%;
  overflow-y: scroll;
  height: calc(100vh - 65px);
}

.content_container{
  max-width: 80%;
  margin: 0 auto;
}

.example-sidenav-fab-container .md-sidenav-content,
.example-sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
  background-color: transparent;
}

.example-scrolling-content {  
  min-height: 100%;
}

.card{
  
}

.card .title{
  color: #7698de;
  font-size: 18px;
}

.card .sub_title{
  color: rgba(255,255,255,.7);
  font-size: 14px;
}

.card .details{
  color: #ffffff;
  font-size: 14px !important;
}

.card .icon{
  width: 35px !important;
  height: 35px !important;
}

#mutilple_lines{
  white-space: normal;
}

.line-breaker {
  white-space: pre-line;
}

#line-breaker {
  white-space: pre-line;
}